extends layout

block content
  h1= title
  p Welcome to #{title}

  #player_count

  ul
      li#view_1
      li#view_2
      li#view_3
      li#view_4
      li#view_5
      li#view_6
      li#view_7