doctype 5
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible", content="chrome=1")

    script(src='http://static.opentok.com/webrtc/v2.0/js/TB.min.js')
    script(data-main='/js/start', src='/js/vendor/require.js')
    script(src='/js/config/require.js')

    link(rel='stylesheet', href='/stylesheets/style.css')

    // Cool Fonts
    link(href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Inconsolata:400,700', rel='stylesheet', type='text/css')

  body
    div(class="vote")
        iframe(src="http://nodeknockout.com/iframe/team-name", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")
    block content