doctype 5
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible", content="chrome=1")

    script(data-main='/js/start', src='/js/vendor/require.js')
    script(src='/js/config/require.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="vote")
        iframe(src="http://nodeknockout.com/iframe/team-name", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")
    div(class="header")
        h1 Charade Parade
    block content