.gameWrapper
  margin-top          -50px

#gameCtrls
  .control-set
    margin-bottom     15px
    background-color  #fff
    border-radius     3px
    box-shadow        0px 0px 3px rgba(#000, .4)

#guessWrapper
  width             48.5%
  float             right

#cardHint
  .card-container, .phrase-container
    overflow        hidden
  .phrase-container
    padding         10px
    position        relative
  .phrase, .hint-markers, .hint
    text-transform  uppercase
    font-family     $font_mono
    font-weight     bold
    font-size       40px
    letter-spacing  7px
    line-height     135%
  .hint-markers
    position        absolute
    top             15px
  .progress
    float           left
    width           70%
    margin-bottom   0

#guessHistory
  font-size         1.2em
  p
    padding         0 .5em .5em .5em

#actorQueue
  position          relative
  .progress
    margin-bottom   0
  .thumbnail
    margin-right    10px
    float           left
    margin          0
    overflow        hidden
    width           85px
    height          85px
    .video
      width         75px !important
      height        75px !important
  .actors
    overflow        hidden
    padding-bottom  .5em
    padding-left    .5em
    padding-right   .5em
  h4
    .pull-left
      margin-right  1em
  .queue-actions
    top             2px
    position        absolute
    right           3px
  .join-queue
    margin-bottom   10px

#guessInput
  margin-bottom     15px
  padding-bottom    1em
h4
  padding           .5em
  background-color  #f3f3f3
  &.border-top
    margin-bottom   0
    border-radius   0 0 3px 3px
    border-top      1px solid #e5e5e5
  &.border-bottom
    margin-top      0
    border-radius   3px 3px 0 0
    border-bottom   1px solid #e5e5e5

#players
  position          relative
  height            410px
  .thumbnail
    overflow        hidden
    width           135px
    height          135px
    margin          0
    .video
      width           125px !important
      height          125px !important
  .player
    position        absolute
    left            0
    &.bad_guess
      video
        border      1px solid red
      .guess
        background-color red
    &.correct_guess
      video
        border      1px solid green
    &:nth-child(even)
      left          auto
      right         0
      .guess
        left        auto
        right       90%
        &.in
          opacity   1
          right     110%
    &:nth-child(1), &:nth-child(2)
      top           0
    &:nth-child(3), &:nth-child(4)
      top           135px
    &:nth-child(5), &:nth-child(6)
      top           270px
    &.actor
      top           0
      left          225px
      .video
        width       740px !important
        height      385px !important
      .thumbnail
        width       750px
        height      395px
      .score
        bottom      1em
        right       1em
  .guess
    color           #fff
    min-width       100px
    max-width       600px
    margin-top      -0.5em
    opacity         0
    position        absolute
    top             50%
    left            90%
    transition      left 1s, opacity .5s
    padding         .5em
    font-size       1.4em
    border-radius   3px
    box-shadow      0px 0px 3px rgba(#000, .9) 
    border          2px solid #fff
    background-color green
    z-index         100
    &.in
      opacity       1
      left          110%
  .score
    color           #fff
    text-shadow     1px 1px 5px rgba(#000, .9), -1px -1px 5px rgba(#000, .9)
    font-size       1.8em
    position        absolute
    bottom          .5em
    right           .5em
