.actor
  position          absolute
  top               0
  left              0
  width             100%

#cardHint
#guessHistory
#guessInput
#actorQueue
  background-color  #fff
  border-radius     3px
  box-shadow        0px 0px 3px rgba(#000, .4)

#cardHint
  .card-container, .phrase-container
    overflow        hidden
  .phrase-container
    padding         10px
    position        relative
  .phrase, .hint-markers, .hint
    text-transform  uppercase
    font-family     $font_mono
    font-weight     bold
    font-size       40px
    letter-spacing  7px
    line-height     135%
  .hint-markers
    position        absolute
    top             15px
  h4
    margin-bottom   0
  .progress
    float           left
    width           70%
    margin-bottom   0

#guessHistory
  font-size         1.2em
  p
    padding         0 .5em .5em .5em
#actorQueue
  .progress
    margin-bottom   0
  .thumbnail
    margin-right    10px
    float           left
    margin          0
    overflow        hidden
    width           85px
    height          85px
    .video
      width         75px !important
      height        75px !important
  .actors
    overflow        hidden
    padding-bottom  .5em
    padding-left    .5em
    padding-right   .5em
  h4
    margin-top      0px
    .pull-left
      margin-right  1em
#guessInput
  margin-bottom     15px
  padding-bottom    1em
  h4
    margin-top      0
h4
  padding           .5em
  background-color  #f3f3f3
  &.border-top
    border-radius   0 0 3px 3px
    border-top      1px solid #e5e5e5
  &.border-bottom
    border-radius   3px 3px 0 0
    border-bottom   1px solid #e5e5e5

#watchers
  position          relative
  height            510px
  .video
    width           150px !important
    height          150px !important
  .watcher
    position        absolute
    left            15px
    &:nth-child(even)
      left          auto
      right         15px
    &:nth-child(1), &:nth-child(2)
      top           0
    &:nth-child(3), &:nth-child(4)
      top           175px
    &:nth-child(5), &:nth-child(6)
      top           350px

  .thumbnail
    overflow        hidden
    width           160px
    height          160px