@-webkit-keyframes growshrink
  0%    { height: 5px }
  40%   { height: 20px }
  80%   { height: 1px }
  100%  { height: 5px }


#introText
  margin-top              40px
  padding-top             10px
  height                  175px
  h3
    font-size             1.9em
    line-height           160%

#startPlaying
  height                  175px
  text-align              center
  .btn-text
    color                 #444

#tips
  ul
    border                4px solid $yellow
    padding               10px
    background-color      rgba(255,255,255,.6)
    box-shadow            4px 4px 0 $orange
    margin-top            12px
  li
    font-size             1.4em
    padding-bottom        .4em
    &:before
      margin-right        .5em


.btn-start
  background-color      #fff
  font-size             1.8em
  margin-top            50px
  padding-left          2em
  padding-right         2em
  position              relative
  -webkit-transition    color 1s, box-shadow .25s, top .1s,  left .1s
  &:hover
    top                 -5px
    i
      -webkit-animation growshrink .25s

.tastetherainbow
  position                absolute
  bottom                  0
  left                    5%
  right                   5%
  width                   90%
  min-height              5px
  i
    display               block
    position              absolute
    height                5px
    bottom                0
    width                 20%
    pointer-events        none
    &:nth-child(1)
      left                    0
      background-color        $colorSeries[0]
      -webkit-animation-delay 0
    &:nth-child(2)
      left                    20%
      background-color        $colorSeries[1]
      -webkit-animation-delay .05s
    &:nth-child(3)
      left                    40%
      background-color        $colorSeries[2]
      -webkit-animation-delay .1s
    &:nth-child(4)
      left                    60%
      background-color        $colorSeries[3]
      -webkit-animation-delay .15s
    &:nth-child(5)
      left                    80%
      background-color        $colorSeries[4]
      -webkit-animation-delay .2s

#about
  text-align    center
  font-size     1em
  padding-top   70px