@import './colors'

.ir
    text-indent     -9999px
    overflow        hidden
    font-size       1px

$font_sans = 'Yanone Kaffeesatz', 'Helvetica', sans-serif
$font_mono = 'Inconsolata', 'monospace'