@import './bootstrap.css'
@import './bootstrap-theme.css'
@import './mixins'

body
  padding               50px
  font                  14px 'Lucida Grande', Helvetica, Arial, sans-serif
  background            #fff url('../images/bg-body.png')
a
  color                 #00B7FF
.vote
    position            absolute
    top                 1em
    right               0


#webcamReminder
  top                   -100px
  position              absolute
  transition            all 1s
  &.animate-in
    top                 0px
