@import './bootstrap.css'
@import './bootstrap-theme.css'
@import './mixins'

body
  padding               0
  font                  14px 'Lucida Grande', Helvetica, Arial, sans-serif
  background            #fff url('../images/bg-body.png')
a
  color                 #00B7FF
.vote
    position            absolute
    top                 1em
    right               0
h1
    @extends            .ir
    background          transparent url('../images/txt-heading.png') no-repeat center center
    margin-top          0
    min-height          127px
    min-width           776px
    text-align          center
#webcamReminder
  padding               10px
  color                 white
  width                 100%
  background-color      $plumb
  top                   -100px
  position              absolute
  transition            all 1s
  border-bottom         4px solid $blueingreen
  box-shadow            0 2px 2px rgba(0,0,0,.3);
  &.animate-in
    top                 0px
  h2
    margin              0
    text-align          right
    font-size           18px
    padding-top         5px
  a
    display             block
    padding-left        10px
    float               right
  .arrow
    float               right
    margin-left         20px
    background          url('../images/reminder-arrow.png') no-repeat
    width               32px
    height              30px