@import './bootstrap.css';
@import './bootstrap-theme.css';
.ir,
h1 {
  text-indent: -9999px;
  overflow: hidden;
  font-size: 1px;
}
body {
  padding: 0;
  font: 14px 'Yanone Kaffeesatz', 'Helvetica', sans-serif, 'Lucida Grande', Helvetica, Arial, sans-serif;
  background: #fff url("../images/bg-body.png");
}
em {
  color: #f06060;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  font-family: 'Yanone Kaffeesatz', 'Helvetica', sans-serif, 'Lucida Grande', Helvetica, Arial, sans-serif;
}
h1 {
  background: transparent url("../images/txt-heading.png") no-repeat center center;
  margin-top: 0;
  min-height: 127px;
  min-width: 776px;
  text-align: center;
}
.vote {
  position: fixed;
  bottom: 1em;
  right: 0;
}
.btn {
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}
#webcamReminder {
  padding: 5px;
  color: #fff;
  width: 100%;
  background-color: #5c4b51;
  top: -100px;
  position: absolute;
  transition: all 1s;
  border-bottom: 4px solid #8cbeb2;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
#webcamReminder h2 {
  margin: 5px 0;
  text-align: right;
  font-family: 'Yanone Kaffeesatz', 'Helvetica', sans-serif;
  font-size: 22px;
}
#webcamReminder .arrow {
  float: right;
  width: 32px;
  height: 30px;
  background: url("../images/reminder-arrow.png") no-repeat;
  margin: 1px 0 0 25px;
}
#webcamReminder a {
  margin-left: 25px;
  margin-top: 4px;
}
#webcamReminder.animate-in {
  top: 0px;
}
#main-container {
  position: relative;
  margin-bottom: 15px;
}
@-webkit-keyframes growshrink {
  0% {
    height: 5px;
  }

  40% {
    height: 20px;
  }

  80% {
    height: 1px;
  }

  100% {
    height: 5px;
  }
}
#introText {
  margin-top: 40px;
  padding-top: 10px;
  height: 175px;
  text-align: justify;
}
#introText h3 {
  font-size: 2.4em;
}
#startPlaying {
  height: 175px;
  text-align: center;
}
#startPlaying .btn-text {
  color: #444;
}
#instructions {
  height: 175px;
}
#instructions h3 {
  font-size: 2.4em;
}
#instructions li {
  font-size: 1.4em;
  padding-left: 1em;
  padding-bottom: 0.15em;
}
#instructions li:before {
  margin-right: 0.5em;
  content: '*';
}
.btn-start {
  background-color: #fff;
  font-size: 1.8em;
  margin-top: 50px;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
  -webkit-transition: color 1s, box-shadow 0.25s, top 0.1s, left 0.1s;
}
.btn-start:hover {
  top: -2px;
  left: -2px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}
.btn-start:hover i {
  -webkit-animation: growshrink 0.25s;
}
.tastetherainbow {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  min-height: 5px;
}
.tastetherainbow i {
  display: block;
  position: absolute;
  height: 5px;
  bottom: 0;
  width: 20%;
}
.tastetherainbow i:nth-child(1) {
  left: 0;
  background-color: #5c4b51;
  -webkit-animation-delay: 0;
}
.tastetherainbow i:nth-child(2) {
  left: 20%;
  background-color: #8cbeb2;
  -webkit-animation-delay: 0.05s;
}
.tastetherainbow i:nth-child(3) {
  left: 40%;
  background-color: #f2ebbf;
  -webkit-animation-delay: 0.1s;
}
.tastetherainbow i:nth-child(4) {
  left: 60%;
  background-color: #f3b562;
  -webkit-animation-delay: 0.15s;
}
.tastetherainbow i:nth-child(5) {
  left: 80%;
  background-color: #f06060;
  -webkit-animation-delay: 0.2s;
}
.actor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#cardHint,
#guessHistory,
#guessInput,
#actorQueue {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}
#cardHint .card-container,
#cardHint .phrase-container {
  overflow: hidden;
}
#cardHint .phrase-container {
  padding: 10px;
  position: relative;
}
#cardHint .phrase,
#cardHint .hint-markers,
#cardHint .hint {
  text-transform: uppercase;
  font-family: 'Inconsolata', 'monospace';
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 7px;
  line-height: 135%;
}
#cardHint .hint-markers {
  position: absolute;
  top: 15px;
}
#cardHint h4 {
  margin-bottom: 0;
}
#cardHint .progress {
  float: left;
  width: 70%;
  margin-bottom: 0;
}
#guessHistory {
  font-size: 1.2em;
}
#guessHistory p {
  padding: 0 0.5em 0.5em 0.5em;
}
#actorQueue .progress {
  margin-bottom: 0;
}
#actorQueue .thumbnail {
  margin-right: 10px;
  float: left;
  margin: 0;
  overflow: hidden;
  width: 85px;
  height: 85px;
}
#actorQueue .thumbnail .video {
  width: 75px !important;
  height: 75px !important;
}
#actorQueue .actors {
  overflow: hidden;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#actorQueue h4 {
  margin-top: 0px;
}
#actorQueue h4 .pull-left {
  margin-right: 1em;
}
#guessInput {
  margin-bottom: 15px;
  padding-bottom: 1em;
}
#guessInput h4 {
  margin-top: 0;
}
h4 {
  padding: 0.5em;
  background-color: #f3f3f3;
}
h4.border-top {
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #e5e5e5;
}
h4.border-bottom {
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #e5e5e5;
}
#players {
  position: relative;
  height: 510px;
}
#players .video {
  width: 150px !important;
  height: 150px !important;
}
#players .player {
  position: absolute;
  left: 15px;
}
#players .player.bad_guess video {
  border: 1px solid #f00;
}
#players .player.bad_guess .guess {
  background-color: #f00;
}
#players .player.correct_guess video {
  border: 1px solid #008000;
}
#players .player:nth-child(even) {
  left: auto;
  right: 15px;
}
#players .player:nth-child(even) .guess {
  left: auto;
  right: 90%;
}
#players .player:nth-child(even) .guess.in {
  opacity: 1;
  right: 110%;
}
#players .player:nth-child(1),
#players .player:nth-child(2) {
  top: 0;
}
#players .player:nth-child(3),
#players .player:nth-child(4) {
  top: 175px;
}
#players .player:nth-child(5),
#players .player:nth-child(6) {
  top: 350px;
}
#players .thumbnail {
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin: 0;
}
#players .guess {
  color: #fff;
  min-width: 100px;
  max-width: 600px;
  margin-top: -0.5em;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 90%;
  transition: left 1s, opacity 0.5s;
  padding: 0.5em;
  font-size: 1.4em;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
  border: 2px solid #fff;
  background-color: #008000;
  z-index: 100;
}
#players .guess.in {
  opacity: 1;
  left: 110%;
}
#players .score {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.9), -1px -1px 5px rgba(0,0,0,0.9);
  font-size: 1.8em;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}
