@import './bootstrap.css';
@import './bootstrap-theme.css';
.ir,
h1 {
  text-indent: -9999px;
  overflow: hidden;
  font-size: 1px;
}
body {
  padding: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background: #fff url("../images/bg-body.png");
}
a {
  color: #00b7ff;
}
.vote {
  position: absolute;
  top: 1em;
  right: 0;
}
h1 {
  background: transparent url("../images/txt-heading.png") no-repeat center center;
  margin-top: 0;
  min-height: 127px;
  min-width: 776px;
  text-align: center;
}
#webcamReminder {
  padding: 10px;
  color: #fff;
  width: 100%;
  background-color: #5c4b51;
  top: -100px;
  position: absolute;
  transition: all 1s;
  border-bottom: 4px solid #8cbeb2;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
#webcamReminder.animate-in {
  top: 0px;
}
#webcamReminder h2 {
  font-family: 'Yanone Kaffeesatz', 'Helvetica', sans-serif;
  margin: 0;
  text-align: right;
  font-size: 18px;
  padding-top: 5px;
}
#webcamReminder a {
  display: block;
  padding-left: 10px;
  float: right;
}
#webcamReminder .arrow {
  float: right;
  margin-left: 20px;
  background: url("../images/reminder-arrow.png") no-repeat;
  width: 32px;
  height: 30px;
}
