@import './bootstrap.css'
@import './bootstrap-theme.css'
@import './mixins'

body
  padding               0
  font                  14px $font_sans, 'Lucida Grande', Helvetica, Arial, sans-serif
  background            #fff url('../images/bg-body.png')
em
  color                 $red
  font-style            normal
h1, h2, h3, h4
  font-family           $font_sans, 'Lucida Grande', Helvetica, Arial, sans-serif
h1
  @extends              .ir
  background            transparent url('../images/frazy.gif') no-repeat center center
  margin-top            0
  min-height            127px
  min-width             776px
  text-align            center

.toolbar
  position              absolute
  top                   -2em
.nko-vote
  display               inline-block
.gohome
  display               block
  float                 left
  margin-top            0
  margin-right          .5em
  padding               0 1em
.btn
  border-radius         3px
  box-shadow            1px 1px 2px rgba(#000, .25)
#webcamReminder
  z-index               3
  padding               5px
  color                 white
  width                 100%
  background-color      $plumb
  top                   -100px
  position              absolute
  transition            all 1s
  border-bottom         4px solid $blueingreen
  box-shadow            0 2px 2px rgba(0,0,0,.3)
  h2
    margin              5px 0
    text-align          right
    font-family         $font_sans
    font-size           22px
  .arrow
    float               right
    width               32px
    height              30px
    background          url('../images/reminder-arrow.png') no-repeat
    margin              1px 0 0 25px
  a
    margin-left         25px
    margin-top          4px
  &.animate-in
    top                 0px
#main-container
  position              relative
  margin-bottom         15px

#vote-arrows
  position              absolute
  width                 30px
  height                30px
  top                   410px
  .marker
    position            absolute
    width               2px
    background-color    $blueingreen
    height              38px
    top                 -5px
  .arrow
    position            absolute
    background-color    $plumb
    width               25px
    height              25px
    -webkit-transform   rotate(45deg)
    -moz-transform      rotate(45deg)
    left                -10px
    &:nth-child(2)
      top               2px
      left              -9px
      opacity           .5


.thumbnail
  -webkit-transition none
  transition none

@import './landing'
@import './game'
@import './winner'
