@import './bootstrap.css';
@import './bootstrap-theme.css';
.ir,
h1 {
  text-indent: -9999px;
  overflow: hidden;
  font-size: 1px;
}
body {
  padding: 0;
  font: 14px 'Yanone Kaffeesatz', 'Helvetica', sans-serif, 'Lucida Grande', Helvetica, Arial, sans-serif;
  background: #fff url("../images/bg-body.png");
}
em {
  color: #f06060;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  font-family: 'Yanone Kaffeesatz', 'Helvetica', sans-serif, 'Lucida Grande', Helvetica, Arial, sans-serif;
}
h1 {
  background: transparent url("../images/frazy.gif") no-repeat center center;
  margin-top: 0;
  min-height: 127px;
  min-width: 776px;
  text-align: center;
}
.nko-vote {
  position: absolute;
  top: -2em;
}
.btn {
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}
#webcamReminder {
  z-index: 3;
  padding: 5px;
  color: #fff;
  width: 100%;
  background-color: #5c4b51;
  top: -100px;
  position: absolute;
  transition: all 1s;
  border-bottom: 4px solid #8cbeb2;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
#webcamReminder h2 {
  margin: 5px 0;
  text-align: right;
  font-family: 'Yanone Kaffeesatz', 'Helvetica', sans-serif;
  font-size: 22px;
}
#webcamReminder .arrow {
  float: right;
  width: 32px;
  height: 30px;
  background: url("../images/reminder-arrow.png") no-repeat;
  margin: 1px 0 0 25px;
}
#webcamReminder a {
  margin-left: 25px;
  margin-top: 4px;
}
#webcamReminder.animate-in {
  top: 0px;
}
#main-container {
  position: relative;
  margin-bottom: 15px;
}
#vote-arrows {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 410px;
}
#vote-arrows .marker {
  position: absolute;
  width: 2px;
  background-color: #8cbeb2;
  height: 38px;
  top: -5px;
}
#vote-arrows .arrow {
  position: absolute;
  background-color: #5c4b51;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  left: -10px;
}
#vote-arrows .arrow:nth-child(2) {
  top: 2px;
  left: -9px;
  opacity: 0.5;
}
@-webkit-keyframes growshrink {
  0% {
    height: 5px;
  }

  40% {
    height: 20px;
  }

  80% {
    height: 1px;
  }

  100% {
    height: 5px;
  }
}
#introText {
  margin-top: 40px;
  padding-top: 10px;
  height: 175px;
}
#introText h3 {
  font-size: 1.9em;
  line-height: 160%;
}
#startPlaying {
  height: 175px;
  text-align: center;
}
#startPlaying .btn-text {
  color: #444;
}
#tips ul {
  border: 4px solid #f2ebbf;
  padding: 10px;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 4px 4px 0 #f3b562;
  margin-top: 12px;
}
#tips li {
  font-size: 1.4em;
  padding-bottom: 0.4em;
}
#tips li:before {
  margin-right: 0.5em;
}
.btn-start {
  background-color: #fff;
  font-size: 1.8em;
  margin-top: 50px;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
  -webkit-transition: color 1s, box-shadow 0.25s, top 0.1s, left 0.1s;
}
.btn-start:hover {
  top: -5px;
}
.btn-start:hover i {
  -webkit-animation: growshrink 0.25s;
}
.tastetherainbow {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  min-height: 5px;
}
.tastetherainbow i {
  display: block;
  position: absolute;
  height: 5px;
  bottom: 0;
  width: 20%;
  pointer-events: none;
}
.tastetherainbow i:nth-child(1) {
  left: 0;
  background-color: #5c4b51;
  -webkit-animation-delay: 0;
}
.tastetherainbow i:nth-child(2) {
  left: 20%;
  background-color: #8cbeb2;
  -webkit-animation-delay: 0.05s;
}
.tastetherainbow i:nth-child(3) {
  left: 40%;
  background-color: #f2ebbf;
  -webkit-animation-delay: 0.1s;
}
.tastetherainbow i:nth-child(4) {
  left: 60%;
  background-color: #f3b562;
  -webkit-animation-delay: 0.15s;
}
.tastetherainbow i:nth-child(5) {
  left: 80%;
  background-color: #f06060;
  -webkit-animation-delay: 0.2s;
}
#about {
  text-align: center;
  font-size: 1em;
  padding-top: 70px;
}
#doSomething h2 {
  opacity: 0.15;
  text-transform: uppercase;
  font-size: 5em;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}
#doSomething .volunteer {
  display: block;
  width: 50%;
  margin: 75px auto 0;
}
.gameWrapper {
  margin-top: 15px;
}
#gameCtrls {
  position: relative;
}
#gameCtrls .control-set {
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}
#guessWrapper {
  width: 48.5%;
  float: right;
}
#cardHint .card-container,
#cardHint .phrase-container {
  overflow: hidden;
}
#cardHint .phrase-container {
  padding: 10px;
  position: relative;
}
#cardHint .phrase,
#cardHint .hint-markers,
#cardHint .hint {
  text-transform: uppercase;
  font-family: 'Inconsolata', 'monospace';
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 7px;
  line-height: 135%;
}
#cardHint .hint-markers {
  position: absolute;
  top: 15px;
}
#cardHint .progress {
  float: left;
  width: 70%;
  margin-bottom: 0;
}
#guessHistory {
  font-size: 1.2em;
}
#guessHistory p {
  padding: 0 0.5em 0.5em 0.5em;
}
#actorQueue {
  position: relative;
}
#actorQueue .progress {
  margin-bottom: 0;
}
#actorQueue .thumbnail {
  margin-right: 10px;
  float: left;
  margin: 0;
  overflow: hidden;
  width: 85px;
  height: 85px;
}
#actorQueue .thumbnail .video {
  width: 75px !important;
  height: 75px !important;
}
#actorQueue .volunteer {
  text-align: center;
  padding: 20px 5px;
}
#actorQueue .actors,
#actorQueue .no-actors {
  overflow: hidden;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#actorQueue h4 .pull-left {
  margin-right: 1em;
}
#actorQueue .queue-actions {
  top: 2px;
  position: absolute;
  right: 3px;
}
#actorQueue .join-queue {
  margin-bottom: 10px;
}
#guessInput {
  margin-bottom: 15px;
  padding-bottom: 1em;
}
#guessInput #userGuess {
  height: 42px;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
#guessInput h5 {
  width: 100%;
  clear: left;
  font-size: 0.75em;
  padding-left: 10px;
  padding-top: 10px;
}
#guessInput .copy-input {
  width: 100%;
  padding: 0px 10px;
}
#guessInput .copy-input input {
  width: 100%;
}
h4 {
  padding: 0.5em;
  background-color: #f3f3f3;
}
h4.border-top {
  margin-bottom: 0;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #e5e5e5;
}
h4.border-bottom {
  margin-top: 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #e5e5e5;
}
#players {
  position: relative;
  height: 395px;
  margin-bottom: 30px;
}
#players .thumbnail {
  overflow: hidden;
  width: 125px;
  height: 125px;
  margin: 0;
}
#players .thumbnail .video {
  width: 115px !important;
  height: 115px !important;
}
#players .player {
  position: absolute;
  left: 0;
}
#players .player.bad_guess .video {
  border: 1px solid #f06060;
}
#players .player.bad_guess .guess {
  background-color: #f06060;
}
#players .player.correct_guess .video {
  border: 1px solid #8cbeb2;
}
#players .player:nth-child(even) {
  left: auto;
  right: 0;
}
#players .player:nth-child(even) .guess {
  left: auto;
  right: 90%;
}
#players .player:nth-child(even) .guess.in {
  opacity: 1;
  right: 110%;
}
#players .player:nth-child(1),
#players .player:nth-child(2) {
  top: 0;
}
#players .player:nth-child(3),
#players .player:nth-child(4) {
  top: 135px;
}
#players .player:nth-child(5),
#players .player:nth-child(6) {
  top: 270px;
}
#players .player.actor {
  top: 0;
  left: 225px;
}
#players .player.actor .video {
  width: 740px !important;
  height: 385px !important;
}
#players .player.actor .thumbnail {
  width: 750px;
  height: 395px;
}
#players .player.actor .score {
  bottom: 1em;
  right: 1em;
}
#players .guess {
  color: #fff;
  min-width: 100px;
  max-width: 600px;
  margin-top: -0.5em;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 90%;
  transition: left 1s, opacity 0.5s;
  padding: 0.5em;
  font-size: 1.4em;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
  border: 3px solid #fff;
  background-color: #8cbeb2;
  z-index: 100;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
#players .guess.in {
  opacity: 1;
  left: 110%;
}
#players .score {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.9), -1px -1px 5px rgba(0,0,0,0.9);
  font-size: 1.8em;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}
@media (max-width: 1200px) and (min-width:992px) {
  #players .thumbnail {
    width: 95px;
    height: 95px;
  }
  #players .thumbnail .video {
    width: 85px !important;
    height: 85px !important;
  }
  #players .player:nth-child(3),
  #players .player:nth-child(4) {
    top: 107px;
  }
  #players .player:nth-child(5),
  #players .player:nth-child(6) {
    top: 215px;
  }
  #players .player.actor {
    left: 200px;
  }
  #players .player.actor .thumbnail {
    width: 610px;
    height: 310px;
  }
  #players .player.actor .video {
    width: 600px !important;
    height: 300px !important;
  }
}
