<div id='actor' class='row'></div>
<div id='watchers' class='row'></div>

<a class='join-queue'>Join Queue</a>


<div id='gameCtrls' class='row'>
  
  <div class='col-md-6'>
    <div id='cardHint'>
      <div class='phrase-container'>
        <div class='hint'>Hints Go Here</div>
      </div>
      <h4 class='clearfix border-top'>
        <span class='pull-right'>Points per card go here</span>
      </h4>
    </div>
    <div id='guessHistory'><!-- Region --></div>
  </div>
  <div class='col-md-6'>
    <div id='guessInput' class='clearfix'><!-- Region --></div>
    <div id='actorQueue'>
      <h4 class='border-bottom'>
        <div class='text pull-left'>Actor Queue</div>
      </h4>
      <div class='thumbnails'>
        <div class='row'>
          <div class='col-sm-6 col-md-3'>
            <a href='#' class='thumbnail'>
              <img src='http://placekitten.com/100/100' alt=''>
            </a>
          </div>
          <div class='col-sm-6 col-md-3'>
            <a href='#' class='thumbnail'>
              <img src='http://placekitten.com/100/100' alt=''>
            </a>
          </div>
          <div class='col-sm-6 col-md-3'>
            <a href='#' class='thumbnail'>
              <img src='http://placekitten.com/100/100' alt=''>
            </a>
          </div>
          <div class='col-sm-6 col-md-3'>
            <a href='#' class='thumbnail'>
              <img src='http://placekitten.com/100/100' alt=''>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
