<div id='actor' class='row'><!-- Region --></div>
<div id='players' class='row'><!-- Region --></div>

<div id='gameCtrls' class='row'>  
  <div class='col-md-6 col-lg-6'>
    <div id='cardHint' class='row control-set'><!-- Region --></div>
    <div id='actorQueue' class='row control-set'><!-- Region --></div>
  </div>

  <div class='col-md-6 col-lg-6' id='guessWrapper'>
    <div id='guessInput' class='row control-set'><!-- Region --></div>
    <div id='guessHistory' class='row control-set'><!-- Region --></div>
  </div>

</div>
