<div id='actor' class='row'><!-- Region --></div>
<div id='players' class='row'><!-- Region --></div>

<div id='gameCtrls' class='row'> 
  <iframe class="nko-vote" src="http://nodeknockout.com/iframe/team-name" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe> 
  <div class='col-md-6 col-lg-6'>
    <div id='cardHint' class='row control-set'>
      <!-- Region with Default -->
      <div class='phrase-container'>
        <div class='hint'>Hints Go Here</div>
      </div>
      <h4 class='clearfix border-top'>
        <span class='pull-right'>Points per card go here</span>
      </h4>
    </div>
    <div id='actorQueue' class='row control-set'><!-- Region --></div>
  </div>

  <div class='col-md-6 col-lg-6' id='guessWrapper'>
    <div id='guessInput' class='row control-set'><!-- Region --></div>
    <div id='guessHistory' class='row control-set'><!-- Region --></div>
  </div>

</div>
