<div id='actor' class='row'><!-- Region --></div>
<div id='players' class='row'>
  <!-- Region -->
  <div id='doSomething' class='col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3'>
    <h2>Waiting for someone to charade</h2>
    <a class='volunteer btn btn-start' href='#'>
      <div class='btn-text'>Volunteer</div>
      <div class='tastetherainbow'>
        <i></i><i></i><i></i><i></i><i></i>
      </div>
    </a>
  </div>
</div>

<div id='gameCtrls' class='row'> 
  <div class='toobar'>
    <button class='btn btn-lg btn-warning gohome'>Instructions</button>
    <iframe class="nko-vote" src="http://nodeknockout.com/iframe/team-name" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe> 
  </div>
  <div class='col-md-6 col-lg-6'>
    <div id='cardHint' class='row control-set'><!-- Region --></div>
    <div id='actorQueue' class='row control-set'><!-- Region --></div>
  </div>

  <div class='col-md-6 col-lg-6' id='guessWrapper'>
    <div id='guessInput' class='row control-set'><!-- Region --></div>
    <div id='guessHistory' class='row control-set'><!-- Region --></div>
  </div>

</div>
