<div id='actor' class='row'><!-- Region --></div>
<div id='players' class='row'><!-- Region --></div>

<div id='gameCtrls' class='row'>
  
  <div class='col-md-6'>
    <div id='cardHint'>
      <div class='phrase-container'>
        <div class='hint'>Hints Go Here</div>
      </div>
      <h4 class='clearfix border-top'>
        <span class='pull-right'>Points per card go here</span>
      </h4>
    </div>
    <div id='guessHistory'><!-- Region --></div>
  </div>
  <div class='col-md-6'>
    <div id='guessInput' class='clearfix row'><!-- Region --></div>
    <div id='actorQueue' class='clearfix row'><!-- Region --></div>
  </div>

</div>
