
<div id='introText' class='row'>
  <div class='col-md-7'>
    <h3>
      <em>Frazy</em> is a multiplayer charades-ish style game. Guess the meaning of the actor's movements to gain points and win.</p>
    </h3>
  </div>
  <div class='col-md-5' id='tips'>
    <ul class='list list-unstyled'>
      <li>Guess frequently!</li>
      <li>Double points if you're the actor!</li>
      <li>Allow on your webcam!</li>
    </ul>
  </div>
</div>

<div id='startPlaying' class='row'>
  <a class='start btn btn-start' href='game/wait'>
    <div class='btn-text'>Start Playing!</div>
    <div class='tastetherainbow'>
      <i></i><i></i><i></i><i></i><i></i>
    </div>
  </a>
  <br/>
  <br/>
  <iframe src="http://nodeknockout.com/iframe/team-name" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe>
</div>

<div id='about' class='row'>
  <p>Created by <a target='_blank' href='https://github.com/joeandaverde/'>Joe Andaverde</a>, <a target='_blank' href='https://github.com/ruzz311/'>Russell Madsen</a>, and <a target='_blank' href='https://github.com/joelongstreet/'>Joe Longstreet</a></p>
</div>