
<div id='introText' class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <h3>
      Turn your web cam on, grab a drink, and get ready to act like you got sum ants in yo pants. <em>Charade Parade</em> is a video based, real time, multi player charade game. 
    </h3>
  </div>
</div>

<div id='startPlaying' class='row'>
  <a class='start btn btn-start' href='game/wait'>
    <div class='btn-text'>Start Playing!</div>
    <div class='tastetherainbow'>
      <i></i><i></i><i></i><i></i><i></i>
    </div>
  </a>
  <br/>
  <br/>
  <iframe class="" src="http://nodeknockout.com/iframe/team-name" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe>
</div>

<div id='instructions' class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <h3>Hints at winning...</h3>
    <ul class='list list-unstyled'>
      <li>Guess frequently for the best chance to win</li>
      <li>You get double points for being the actor</li>
      <li>If you're acting, please make sure to allow your webcam... otherwise no one will see you!</li>
    </ul>
  </div>
</div>
