<div id='introText' class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <p>
      Turn your web cam on, grab a drink, and get ready to act like you got sum ants in yo pants. <em>Charade Parade</em> is a video based, real time, multi player charade game. 
    </p>
  </div>
</div>

<div id='startPlaying' class='row'>
  <div class='btn btn-start'>
    <div class='btn-text'>Start Playing!</div>
    <div class='tastetherainbow'>
      <i></i><i></i><i></i><i></i><i></i>
    </div>
  </div>
</div>

