this is the home view
<p>
    Turn your web cam on, grab a drink, and get ready to act like you got sum ants in yo pants. <em>Charade Parade</em> is a video based, real time, multi player charade game. 
</p>