<h4 class='border-bottom'>Actor Queue</h4>
<div class='queue-actions'>
  <a class='join-queue btn btn-default'>Join Queue</a>
  <a class='leave-queue btn btn-default hidden'>Leave Queue</a>
</div>
<div class='col-lg-10 col-md-10 actors'></div>
