<div id='notifier'></div>

<div class='row' id='site-navigation'>
  <h1>Test</h1>
</div>

<div id='main-container' class='row'>
  
  <div class='actor'>
    <div class='col-md-6 col-md-offset-3'>
      <div class='thumbnail' style='height:670px'>
        <img src='http://placekitten.com/200/200' alt='...'>
      </div>
    </div>
  </div>

  <div class='users'>
    <div class='col-sm-6 col-md-3'>
      <div class='thumbnail'>
        <img src='http://placekitten.com/200/200' alt='...'>
      </div>
    </div>
    <div class='col-sm-6 col-md-3 col-sm-offset-6'>
      <div class='thumbnail'>
        <img src='http://placekitten.com/200/200' alt='...'>
      </div>
    </div>
    <div class='col-sm-6 col-md-3'>
      <div class='thumbnail'>
        <img src='http://placekitten.com/200/200' alt='...'>
      </div>
    </div>
    <div class='col-sm-6 col-md-3 col-sm-offset-6'>
      <div class='thumbnail'>
        <img src='http://placekitten.com/200/200' alt='...'>
      </div>
    </div>
    <div class='col-sm-6 col-md-3'>
      <div class='thumbnail'>
        <img src='http://placekitten.com/200/200' alt='...'>
      </div>
    </div>
    <div class='col-sm-6 col-md-3 col-sm-offset-6'>
      <div class='thumbnail'>
        <img src='http://placekitten.com/200/200' alt='...'>
      </div>
    </div>
  </div>
</div>