<div id='notifier'></div>

<div id='site-navigation'>
  <h1>Charade Parade</h1>
</div>

<div id='vote-arrows'>
  <div class='arrow'></div>
  <div class='arrow'></div>
  <div class='marker'></div>
</div>

<div class='container'>
  <div id='main-container'></div>
</div>

<div id='winner' class='hidden'>
  <i></i><i></i><i></i><i></i><i></i><i></i>
  <i></i><i></i><i></i><i></i><i></i><i></i>
  <i></i><i></i><i></i><i></i><i></i><i></i>
  <i></i><i></i><i></i><i></i><i></i><i></i>
  <i></i><i></i><i></i><i></i><i></i><i></i>
  <i></i><i></i><i></i><i></i><i></i><i></i>
  <i></i><i></i><i></i><i></i><i></i><i></i>
  <i></i><i></i><i></i><i></i><i></i><i></i>
  <i></i><i></i><i></i><i></i><i></i><i></i>
  <i></i><i></i><i></i><i></i><i></i><i></i>
  <div class='info'>
    <h3>Winner!</h3>
    <button class='btn btn-small btn-danger' onclick='window.location = "/game/wait"; return false;'>start again?</button>
  </div>
</div>