<div id='notifier'></div>

<div id='site-navigation'>
  <h1>Charade Parade</h1>
</div>

<div id='vote-arrows'>
  <div class='arrow'></div>
  <div class='arrow'></div>
  <div class='marker'></div>
</div>

<div class='container'>
  <div id='main-container'></div>
</div>